<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_8b2c1862363efef80eece1954aa856ea {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_8b2c1862363efef80eece1954aa856ea" ></div>
        
</body>
<script>
    
    
            var map_8b2c1862363efef80eece1954aa856ea = L.map(
                "map_8b2c1862363efef80eece1954aa856ea",
                {
                    center: [0, 0],
                    crs: L.CRS.EPSG3857,
                    zoom: 1,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_08645eded3ab5d7bef649dcd7896bf91 = L.tileLayer(
                "https://stamen-tiles-{s}.a.ssl.fastly.net/terrain/{z}/{x}/{y}.jpg",
                {"attribution": "Map tiles by \u003ca target=\"_blank\" href=\"http://stamen.com\"\u003eStamen Design\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://creativecommons.org/licenses/by/3.0\"\u003eCC BY 3.0\u003c/a\u003e. Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://creativecommons.org/licenses/by-sa/3.0\"\u003eCC BY SA\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_8b2c1862363efef80eece1954aa856ea);
        
    
            var feature_group_e20d8bf7c651f131b08e0e155068e770 = L.featureGroup(
                {}
            ).addTo(map_8b2c1862363efef80eece1954aa856ea);
        
    
            var marker_795f39be11ef94185444e555b7e3cb57 = L.marker(
                [-34.9964963, -64.9672817],
                {}
            ).addTo(feature_group_e20d8bf7c651f131b08e0e155068e770);
        
    
            var icon_7dc8975ebabf4f519048fc017fe43b1c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_795f39be11ef94185444e555b7e3cb57.setIcon(icon_7dc8975ebabf4f519048fc017fe43b1c);
        
    
        var popup_73abb7f8cf1b21e0582f1acd570fe953 = L.popup({"maxWidth": "100%"});

        
            
                var html_647f276da1147f0e7a5c383d07d5abac = $(`<div id="html_647f276da1147f0e7a5c383d07d5abac" style="width: 100.0%; height: 100.0%;">Argentina</div>`)[0];
                popup_73abb7f8cf1b21e0582f1acd570fe953.setContent(html_647f276da1147f0e7a5c383d07d5abac);
            
        

        marker_795f39be11ef94185444e555b7e3cb57.bindPopup(popup_73abb7f8cf1b21e0582f1acd570fe953)
        ;

        
    
    
            var marker_7d6a9dc099fe0868ea75e4afa0704784 = L.marker(
                [-24.7761086, 134.755],
                {}
            ).addTo(feature_group_e20d8bf7c651f131b08e0e155068e770);
        
    
            var icon_c7beac05d7cbabdecbd445927562f2f5 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_7d6a9dc099fe0868ea75e4afa0704784.setIcon(icon_c7beac05d7cbabdecbd445927562f2f5);
        
    
        var popup_eb460e60ae7c4e2b6d148d3605b5e87b = L.popup({"maxWidth": "100%"});

        
            
                var html_4871c46ad976189fff122bb395aceb46 = $(`<div id="html_4871c46ad976189fff122bb395aceb46" style="width: 100.0%; height: 100.0%;">Australia</div>`)[0];
                popup_eb460e60ae7c4e2b6d148d3605b5e87b.setContent(html_4871c46ad976189fff122bb395aceb46);
            
        

        marker_7d6a9dc099fe0868ea75e4afa0704784.bindPopup(popup_eb460e60ae7c4e2b6d148d3605b5e87b)
        ;

        
    
    
            var marker_e031b4f2d43ffd26f8846d8751d09c0d = L.marker(
                [47.59397, 14.12456],
                {}
            ).addTo(feature_group_e20d8bf7c651f131b08e0e155068e770);
        
    
            var icon_e4e0e948115c441b3856017abce87a8f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_e031b4f2d43ffd26f8846d8751d09c0d.setIcon(icon_e4e0e948115c441b3856017abce87a8f);
        
    
        var popup_31d232dc17059d1956c9e1a0abd9f05e = L.popup({"maxWidth": "100%"});

        
            
                var html_6e838396f3178c32dd86e8b29d54e69b = $(`<div id="html_6e838396f3178c32dd86e8b29d54e69b" style="width: 100.0%; height: 100.0%;">Austria</div>`)[0];
                popup_31d232dc17059d1956c9e1a0abd9f05e.setContent(html_6e838396f3178c32dd86e8b29d54e69b);
            
        

        marker_e031b4f2d43ffd26f8846d8751d09c0d.bindPopup(popup_31d232dc17059d1956c9e1a0abd9f05e)
        ;

        
    
    
            var marker_83387570be0961fb6522d7944af259e4 = L.marker(
                [50.6402809, 4.6667145],
                {}
            ).addTo(feature_group_e20d8bf7c651f131b08e0e155068e770);
        
    
            var icon_383bbdfd990736daa26d1eef3138e9a9 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_83387570be0961fb6522d7944af259e4.setIcon(icon_383bbdfd990736daa26d1eef3138e9a9);
        
    
        var popup_3e58190f18e8d8e778dba43b5d1ec6ff = L.popup({"maxWidth": "100%"});

        
            
                var html_cb8a798af51d9d14c3ec43ef6eef4764 = $(`<div id="html_cb8a798af51d9d14c3ec43ef6eef4764" style="width: 100.0%; height: 100.0%;">Belgium</div>`)[0];
                popup_3e58190f18e8d8e778dba43b5d1ec6ff.setContent(html_cb8a798af51d9d14c3ec43ef6eef4764);
            
        

        marker_83387570be0961fb6522d7944af259e4.bindPopup(popup_3e58190f18e8d8e778dba43b5d1ec6ff)
        ;

        
    
    
            var marker_7821a124b1d10f59d25bdc789b7ae698 = L.marker(
                [-17.0568696, -64.9912286],
                {}
            ).addTo(feature_group_e20d8bf7c651f131b08e0e155068e770);
        
    
            var icon_180e47a693739bbcc5fa2db5e05950c3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_7821a124b1d10f59d25bdc789b7ae698.setIcon(icon_180e47a693739bbcc5fa2db5e05950c3);
        
    
        var popup_bd91c55598658339ee013f484a7349e8 = L.popup({"maxWidth": "100%"});

        
            
                var html_11b904a1544c98f8f75e8feadcf11d93 = $(`<div id="html_11b904a1544c98f8f75e8feadcf11d93" style="width: 100.0%; height: 100.0%;">Bolivia, Plurinational State of</div>`)[0];
                popup_bd91c55598658339ee013f484a7349e8.setContent(html_11b904a1544c98f8f75e8feadcf11d93);
            
        

        marker_7821a124b1d10f59d25bdc789b7ae698.bindPopup(popup_bd91c55598658339ee013f484a7349e8)
        ;

        
    
    
            var marker_bc6428d30523c7af13d0c2db1f329c7b = L.marker(
                [-10.3333333, -53.2],
                {}
            ).addTo(feature_group_e20d8bf7c651f131b08e0e155068e770);
        
    
            var icon_97ed15db59b244a0abe6e6d5f03c1214 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_bc6428d30523c7af13d0c2db1f329c7b.setIcon(icon_97ed15db59b244a0abe6e6d5f03c1214);
        
    
        var popup_a213b36859c5a1553eec9eb3ccd0bb48 = L.popup({"maxWidth": "100%"});

        
            
                var html_60aa5377decb036c32220062a0549ad5 = $(`<div id="html_60aa5377decb036c32220062a0549ad5" style="width: 100.0%; height: 100.0%;">Brazil</div>`)[0];
                popup_a213b36859c5a1553eec9eb3ccd0bb48.setContent(html_60aa5377decb036c32220062a0549ad5);
            
        

        marker_bc6428d30523c7af13d0c2db1f329c7b.bindPopup(popup_a213b36859c5a1553eec9eb3ccd0bb48)
        ;

        
    
    
            var marker_ecebc827b78998611be1887fa598a9f2 = L.marker(
                [42.6073975, 25.4856617],
                {}
            ).addTo(feature_group_e20d8bf7c651f131b08e0e155068e770);
        
    
            var icon_9a7039780673f217efd2e8c4356e8601 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_ecebc827b78998611be1887fa598a9f2.setIcon(icon_9a7039780673f217efd2e8c4356e8601);
        
    
        var popup_95b925dd1140d6bbbbd45cd148e7dc64 = L.popup({"maxWidth": "100%"});

        
            
                var html_ac432881a0b5cd8dd687374a6572b778 = $(`<div id="html_ac432881a0b5cd8dd687374a6572b778" style="width: 100.0%; height: 100.0%;">Bulgaria</div>`)[0];
                popup_95b925dd1140d6bbbbd45cd148e7dc64.setContent(html_ac432881a0b5cd8dd687374a6572b778);
            
        

        marker_ecebc827b78998611be1887fa598a9f2.bindPopup(popup_95b925dd1140d6bbbbd45cd148e7dc64)
        ;

        
    
    
            var marker_18e36490249504423a41c478943140f4 = L.marker(
                [61.0666922, -107.991707],
                {}
            ).addTo(feature_group_e20d8bf7c651f131b08e0e155068e770);
        
    
            var icon_23bcc05c87d3851a06b23ded427caebb = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_18e36490249504423a41c478943140f4.setIcon(icon_23bcc05c87d3851a06b23ded427caebb);
        
    
        var popup_bbd6f332482ca6c369a5211ab26cf09f = L.popup({"maxWidth": "100%"});

        
            
                var html_0fb44f1b6b43df4cdea48672b8a9c11d = $(`<div id="html_0fb44f1b6b43df4cdea48672b8a9c11d" style="width: 100.0%; height: 100.0%;">Canada</div>`)[0];
                popup_bbd6f332482ca6c369a5211ab26cf09f.setContent(html_0fb44f1b6b43df4cdea48672b8a9c11d);
            
        

        marker_18e36490249504423a41c478943140f4.bindPopup(popup_bbd6f332482ca6c369a5211ab26cf09f)
        ;

        
    
    
            var marker_7b231e281d3ae31c5076cb019d23a189 = L.marker(
                [-31.7613365, -71.3187697],
                {}
            ).addTo(feature_group_e20d8bf7c651f131b08e0e155068e770);
        
    
            var icon_22951c3db9fcfbaa0a2fab7961261bd6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_7b231e281d3ae31c5076cb019d23a189.setIcon(icon_22951c3db9fcfbaa0a2fab7961261bd6);
        
    
        var popup_2f29cc536660208a138531e947598791 = L.popup({"maxWidth": "100%"});

        
            
                var html_77656b12ace385762b757787aeb7c6db = $(`<div id="html_77656b12ace385762b757787aeb7c6db" style="width: 100.0%; height: 100.0%;">Chile</div>`)[0];
                popup_2f29cc536660208a138531e947598791.setContent(html_77656b12ace385762b757787aeb7c6db);
            
        

        marker_7b231e281d3ae31c5076cb019d23a189.bindPopup(popup_2f29cc536660208a138531e947598791)
        ;

        
    
    
            var marker_ad10a0e6dc36c78ca2cc3a97a8c1ab58 = L.marker(
                [4.099917, -72.9088133],
                {}
            ).addTo(feature_group_e20d8bf7c651f131b08e0e155068e770);
        
    
            var icon_d603ba9caaaaf87f4e08c6c2b6dfdf37 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_ad10a0e6dc36c78ca2cc3a97a8c1ab58.setIcon(icon_d603ba9caaaaf87f4e08c6c2b6dfdf37);
        
    
        var popup_c2a94ae7d54e18cdc91116da978bf80b = L.popup({"maxWidth": "100%"});

        
            
                var html_08c8933b5db8ecf6e3175ab125a8ac29 = $(`<div id="html_08c8933b5db8ecf6e3175ab125a8ac29" style="width: 100.0%; height: 100.0%;">Colombia</div>`)[0];
                popup_c2a94ae7d54e18cdc91116da978bf80b.setContent(html_08c8933b5db8ecf6e3175ab125a8ac29);
            
        

        marker_ad10a0e6dc36c78ca2cc3a97a8c1ab58.bindPopup(popup_c2a94ae7d54e18cdc91116da978bf80b)
        ;

        
    
    
            var marker_ee4d871b028b70abb1a8f8993b00ae40 = L.marker(
                [10.2735633, -84.0739102],
                {}
            ).addTo(feature_group_e20d8bf7c651f131b08e0e155068e770);
        
    
            var icon_6d40db38c15c118f2e3df463172251dd = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_ee4d871b028b70abb1a8f8993b00ae40.setIcon(icon_6d40db38c15c118f2e3df463172251dd);
        
    
        var popup_d8e7261cf27f9628cd9cb1be812cc20a = L.popup({"maxWidth": "100%"});

        
            
                var html_3e6aac21909449eb7d2e5dabfb998557 = $(`<div id="html_3e6aac21909449eb7d2e5dabfb998557" style="width: 100.0%; height: 100.0%;">Costa Rica</div>`)[0];
                popup_d8e7261cf27f9628cd9cb1be812cc20a.setContent(html_3e6aac21909449eb7d2e5dabfb998557);
            
        

        marker_ee4d871b028b70abb1a8f8993b00ae40.bindPopup(popup_d8e7261cf27f9628cd9cb1be812cc20a)
        ;

        
    
    
            var marker_0fb4515aa25ccfc1d5338ef0396f3ce6 = L.marker(
                [34.9823018, 33.1451285],
                {}
            ).addTo(feature_group_e20d8bf7c651f131b08e0e155068e770);
        
    
            var icon_9bb261fe62b4224fb7dcff6cb6d2d44c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_0fb4515aa25ccfc1d5338ef0396f3ce6.setIcon(icon_9bb261fe62b4224fb7dcff6cb6d2d44c);
        
    
        var popup_910253dfda665b3f5da11e1244d20c81 = L.popup({"maxWidth": "100%"});

        
            
                var html_b56d1c63dc778096c8508c9df8aee943 = $(`<div id="html_b56d1c63dc778096c8508c9df8aee943" style="width: 100.0%; height: 100.0%;">Cyprus</div>`)[0];
                popup_910253dfda665b3f5da11e1244d20c81.setContent(html_b56d1c63dc778096c8508c9df8aee943);
            
        

        marker_0fb4515aa25ccfc1d5338ef0396f3ce6.bindPopup(popup_910253dfda665b3f5da11e1244d20c81)
        ;

        
    
    
            var marker_93e915b226f6e3dac38e6edd9c3dd0d1 = L.marker(
                [49.7439047, 15.3381061],
                {}
            ).addTo(feature_group_e20d8bf7c651f131b08e0e155068e770);
        
    
            var icon_571fb73bc6676834847220c55a698100 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_93e915b226f6e3dac38e6edd9c3dd0d1.setIcon(icon_571fb73bc6676834847220c55a698100);
        
    
        var popup_09c6608ee24331724057af563c09c703 = L.popup({"maxWidth": "100%"});

        
            
                var html_b46ef58d1bbc12454a2018ffaa1dee31 = $(`<div id="html_b46ef58d1bbc12454a2018ffaa1dee31" style="width: 100.0%; height: 100.0%;">Czechia</div>`)[0];
                popup_09c6608ee24331724057af563c09c703.setContent(html_b46ef58d1bbc12454a2018ffaa1dee31);
            
        

        marker_93e915b226f6e3dac38e6edd9c3dd0d1.bindPopup(popup_09c6608ee24331724057af563c09c703)
        ;

        
    
    
            var marker_8a2ec9ae5206089a0d2826bdc08d4492 = L.marker(
                [55.670249, 10.3333283],
                {}
            ).addTo(feature_group_e20d8bf7c651f131b08e0e155068e770);
        
    
            var icon_75748211f932e1a7c2a5c27bb7903044 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_8a2ec9ae5206089a0d2826bdc08d4492.setIcon(icon_75748211f932e1a7c2a5c27bb7903044);
        
    
        var popup_aa615b6e87dcf41f05d4ccb779b28cf6 = L.popup({"maxWidth": "100%"});

        
            
                var html_14b33e59591c180cdeedc9c1b8f2947b = $(`<div id="html_14b33e59591c180cdeedc9c1b8f2947b" style="width: 100.0%; height: 100.0%;">Denmark</div>`)[0];
                popup_aa615b6e87dcf41f05d4ccb779b28cf6.setContent(html_14b33e59591c180cdeedc9c1b8f2947b);
            
        

        marker_8a2ec9ae5206089a0d2826bdc08d4492.bindPopup(popup_aa615b6e87dcf41f05d4ccb779b28cf6)
        ;

        
    
    
            var marker_5d18b5f6f1469258538d3fe284dc8a00 = L.marker(
                [19.0974031, -70.3028026],
                {}
            ).addTo(feature_group_e20d8bf7c651f131b08e0e155068e770);
        
    
            var icon_ab46fdf6fb26dc18ca886a2f4ca8e169 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_5d18b5f6f1469258538d3fe284dc8a00.setIcon(icon_ab46fdf6fb26dc18ca886a2f4ca8e169);
        
    
        var popup_1ac56033ed75c34890009ed813599e36 = L.popup({"maxWidth": "100%"});

        
            
                var html_3fe213d54fc96a733f8a1e6df0640324 = $(`<div id="html_3fe213d54fc96a733f8a1e6df0640324" style="width: 100.0%; height: 100.0%;">Dominican Republic</div>`)[0];
                popup_1ac56033ed75c34890009ed813599e36.setContent(html_3fe213d54fc96a733f8a1e6df0640324);
            
        

        marker_5d18b5f6f1469258538d3fe284dc8a00.bindPopup(popup_1ac56033ed75c34890009ed813599e36)
        ;

        
    
</script>
</html>