<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_42574c105a4a3a5aa442f6945f9870de {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_42574c105a4a3a5aa442f6945f9870de" ></div>
        
</body>
<script>
    
    
            var map_42574c105a4a3a5aa442f6945f9870de = L.map(
                "map_42574c105a4a3a5aa442f6945f9870de",
                {
                    center: [0, 0],
                    crs: L.CRS.EPSG3857,
                    zoom: 1,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_e9a003c5e03e3dc930978b6411209ce4 = L.tileLayer(
                "https://stamen-tiles-{s}.a.ssl.fastly.net/terrain/{z}/{x}/{y}.jpg",
                {"attribution": "Map tiles by \u003ca target=\"_blank\" href=\"http://stamen.com\"\u003eStamen Design\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://creativecommons.org/licenses/by/3.0\"\u003eCC BY 3.0\u003c/a\u003e. Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://creativecommons.org/licenses/by-sa/3.0\"\u003eCC BY SA\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_42574c105a4a3a5aa442f6945f9870de);
        
    
            var feature_group_0d9fb44fd96c26ce291a64c1089d9b7b = L.featureGroup(
                {}
            ).addTo(map_42574c105a4a3a5aa442f6945f9870de);
        
    
            var marker_3bb0331df1fedb478aefc2ed8ca71f60 = L.marker(
                [-34.9964963, -64.9672817],
                {}
            ).addTo(feature_group_0d9fb44fd96c26ce291a64c1089d9b7b);
        
    
            var icon_15a7cf3fc805cafed25ee61fabb60d58 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_3bb0331df1fedb478aefc2ed8ca71f60.setIcon(icon_15a7cf3fc805cafed25ee61fabb60d58);
        
    
        var popup_b473425d4d9ad96646908856db2d08fc = L.popup({"maxWidth": "100%"});

        
            
                var html_915debe5c5d2baebffb0bba04d0511ed = $(`<div id="html_915debe5c5d2baebffb0bba04d0511ed" style="width: 100.0%; height: 100.0%;">Argentina</div>`)[0];
                popup_b473425d4d9ad96646908856db2d08fc.setContent(html_915debe5c5d2baebffb0bba04d0511ed);
            
        

        marker_3bb0331df1fedb478aefc2ed8ca71f60.bindPopup(popup_b473425d4d9ad96646908856db2d08fc)
        ;

        
    
    
            var marker_324ac16d0e5492e130fc357ec8af21db = L.marker(
                [-24.7761086, 134.755],
                {}
            ).addTo(feature_group_0d9fb44fd96c26ce291a64c1089d9b7b);
        
    
            var icon_32c5e3db60baab2381fee8c3ce33b593 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_324ac16d0e5492e130fc357ec8af21db.setIcon(icon_32c5e3db60baab2381fee8c3ce33b593);
        
    
        var popup_3491c9f652cf612bd01011fa6318fed7 = L.popup({"maxWidth": "100%"});

        
            
                var html_485f0624d1a52241a14f64f88aa068c1 = $(`<div id="html_485f0624d1a52241a14f64f88aa068c1" style="width: 100.0%; height: 100.0%;">Australia</div>`)[0];
                popup_3491c9f652cf612bd01011fa6318fed7.setContent(html_485f0624d1a52241a14f64f88aa068c1);
            
        

        marker_324ac16d0e5492e130fc357ec8af21db.bindPopup(popup_3491c9f652cf612bd01011fa6318fed7)
        ;

        
    
    
            var marker_9abcdf37dd4519b88fbb08fb242fa645 = L.marker(
                [47.59397, 14.12456],
                {}
            ).addTo(feature_group_0d9fb44fd96c26ce291a64c1089d9b7b);
        
    
            var icon_805798396d544509c4706d092afbab6d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_9abcdf37dd4519b88fbb08fb242fa645.setIcon(icon_805798396d544509c4706d092afbab6d);
        
    
        var popup_5af41a6bcb6a8f51aebf26fad9220cf3 = L.popup({"maxWidth": "100%"});

        
            
                var html_8aafb8b4075a8b00c1a2662e34feb263 = $(`<div id="html_8aafb8b4075a8b00c1a2662e34feb263" style="width: 100.0%; height: 100.0%;">Austria</div>`)[0];
                popup_5af41a6bcb6a8f51aebf26fad9220cf3.setContent(html_8aafb8b4075a8b00c1a2662e34feb263);
            
        

        marker_9abcdf37dd4519b88fbb08fb242fa645.bindPopup(popup_5af41a6bcb6a8f51aebf26fad9220cf3)
        ;

        
    
    
            var marker_6206f4a52e2329da2d08cafe0f63328d = L.marker(
                [50.6402809, 4.6667145],
                {}
            ).addTo(feature_group_0d9fb44fd96c26ce291a64c1089d9b7b);
        
    
            var icon_25ace5edc55a88f82b559f0a43ece971 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_6206f4a52e2329da2d08cafe0f63328d.setIcon(icon_25ace5edc55a88f82b559f0a43ece971);
        
    
        var popup_d3b31fdc9a593d04ab4a4d39116a5d9f = L.popup({"maxWidth": "100%"});

        
            
                var html_94d0319c385d9115c9090eddebd343f6 = $(`<div id="html_94d0319c385d9115c9090eddebd343f6" style="width: 100.0%; height: 100.0%;">Belgium</div>`)[0];
                popup_d3b31fdc9a593d04ab4a4d39116a5d9f.setContent(html_94d0319c385d9115c9090eddebd343f6);
            
        

        marker_6206f4a52e2329da2d08cafe0f63328d.bindPopup(popup_d3b31fdc9a593d04ab4a4d39116a5d9f)
        ;

        
    
    
            var marker_42138f3f2f0310cbfcb728994a330a89 = L.marker(
                [-17.0568696, -64.9912286],
                {}
            ).addTo(feature_group_0d9fb44fd96c26ce291a64c1089d9b7b);
        
    
            var icon_9e66f53641305b81056fcfd43f2acd1c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_42138f3f2f0310cbfcb728994a330a89.setIcon(icon_9e66f53641305b81056fcfd43f2acd1c);
        
    
        var popup_d9dd99089b9dcb612eb626fd7ece092d = L.popup({"maxWidth": "100%"});

        
            
                var html_811dd91a20883d6d3a22eafbba88741d = $(`<div id="html_811dd91a20883d6d3a22eafbba88741d" style="width: 100.0%; height: 100.0%;">Bolivia, Plurinational State of</div>`)[0];
                popup_d9dd99089b9dcb612eb626fd7ece092d.setContent(html_811dd91a20883d6d3a22eafbba88741d);
            
        

        marker_42138f3f2f0310cbfcb728994a330a89.bindPopup(popup_d9dd99089b9dcb612eb626fd7ece092d)
        ;

        
    
    
            var marker_4303f12bba80f2f3994d81beb1202065 = L.marker(
                [-10.3333333, -53.2],
                {}
            ).addTo(feature_group_0d9fb44fd96c26ce291a64c1089d9b7b);
        
    
            var icon_6880f4e5b535d6c240a3de23409fa252 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_4303f12bba80f2f3994d81beb1202065.setIcon(icon_6880f4e5b535d6c240a3de23409fa252);
        
    
        var popup_b474e5d664db5d9f78e41c0c806a965d = L.popup({"maxWidth": "100%"});

        
            
                var html_7a645a8641f19d4d2eefedc5dd2e6bf8 = $(`<div id="html_7a645a8641f19d4d2eefedc5dd2e6bf8" style="width: 100.0%; height: 100.0%;">Brazil</div>`)[0];
                popup_b474e5d664db5d9f78e41c0c806a965d.setContent(html_7a645a8641f19d4d2eefedc5dd2e6bf8);
            
        

        marker_4303f12bba80f2f3994d81beb1202065.bindPopup(popup_b474e5d664db5d9f78e41c0c806a965d)
        ;

        
    
    
            var marker_58757afc06729aa1d89c725d1a764d14 = L.marker(
                [42.6073975, 25.4856617],
                {}
            ).addTo(feature_group_0d9fb44fd96c26ce291a64c1089d9b7b);
        
    
            var icon_d5edb3e4bc618465a964cd567df5823a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_58757afc06729aa1d89c725d1a764d14.setIcon(icon_d5edb3e4bc618465a964cd567df5823a);
        
    
        var popup_c03181d937541b7c1a8ff18cbe4a39fe = L.popup({"maxWidth": "100%"});

        
            
                var html_baf2d56f5850859132b2a054259834cd = $(`<div id="html_baf2d56f5850859132b2a054259834cd" style="width: 100.0%; height: 100.0%;">Bulgaria</div>`)[0];
                popup_c03181d937541b7c1a8ff18cbe4a39fe.setContent(html_baf2d56f5850859132b2a054259834cd);
            
        

        marker_58757afc06729aa1d89c725d1a764d14.bindPopup(popup_c03181d937541b7c1a8ff18cbe4a39fe)
        ;

        
    
    
            var marker_649445d0bf52d2c2e3716b51165daf04 = L.marker(
                [61.0666922, -107.991707],
                {}
            ).addTo(feature_group_0d9fb44fd96c26ce291a64c1089d9b7b);
        
    
            var icon_baab9d0c211d7a44cb5370f38a9c5d5d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_649445d0bf52d2c2e3716b51165daf04.setIcon(icon_baab9d0c211d7a44cb5370f38a9c5d5d);
        
    
        var popup_079152e62d77a5e2189f1101bec5b015 = L.popup({"maxWidth": "100%"});

        
            
                var html_14a922f9be43a5fb1dde6b57a9f52362 = $(`<div id="html_14a922f9be43a5fb1dde6b57a9f52362" style="width: 100.0%; height: 100.0%;">Canada</div>`)[0];
                popup_079152e62d77a5e2189f1101bec5b015.setContent(html_14a922f9be43a5fb1dde6b57a9f52362);
            
        

        marker_649445d0bf52d2c2e3716b51165daf04.bindPopup(popup_079152e62d77a5e2189f1101bec5b015)
        ;

        
    
    
            var marker_3b498a6c4e0369b9c3465c177aa2a64c = L.marker(
                [-31.7613365, -71.3187697],
                {}
            ).addTo(feature_group_0d9fb44fd96c26ce291a64c1089d9b7b);
        
    
            var icon_ce43a2034d73da71dff5d9dbe013b540 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_3b498a6c4e0369b9c3465c177aa2a64c.setIcon(icon_ce43a2034d73da71dff5d9dbe013b540);
        
    
        var popup_27d85d1bde785e4f9ab9517d31ae3703 = L.popup({"maxWidth": "100%"});

        
            
                var html_5eb91436961ff5bd787965f6ab6cb90b = $(`<div id="html_5eb91436961ff5bd787965f6ab6cb90b" style="width: 100.0%; height: 100.0%;">Chile</div>`)[0];
                popup_27d85d1bde785e4f9ab9517d31ae3703.setContent(html_5eb91436961ff5bd787965f6ab6cb90b);
            
        

        marker_3b498a6c4e0369b9c3465c177aa2a64c.bindPopup(popup_27d85d1bde785e4f9ab9517d31ae3703)
        ;

        
    
    
            var marker_c0cac9849c040d6ee82fededb431b9b9 = L.marker(
                [4.099917, -72.9088133],
                {}
            ).addTo(feature_group_0d9fb44fd96c26ce291a64c1089d9b7b);
        
    
            var icon_43f290197a07609b3674f1ecc6614f77 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_c0cac9849c040d6ee82fededb431b9b9.setIcon(icon_43f290197a07609b3674f1ecc6614f77);
        
    
        var popup_0a54f1dc77ce05007bf4bc21c915cc1a = L.popup({"maxWidth": "100%"});

        
            
                var html_334cd991e666ccc86f7471772f73c850 = $(`<div id="html_334cd991e666ccc86f7471772f73c850" style="width: 100.0%; height: 100.0%;">Colombia</div>`)[0];
                popup_0a54f1dc77ce05007bf4bc21c915cc1a.setContent(html_334cd991e666ccc86f7471772f73c850);
            
        

        marker_c0cac9849c040d6ee82fededb431b9b9.bindPopup(popup_0a54f1dc77ce05007bf4bc21c915cc1a)
        ;

        
    
    
            var marker_4184247ab6b591aed1141ffdb159bae6 = L.marker(
                [10.2735633, -84.0739102],
                {}
            ).addTo(feature_group_0d9fb44fd96c26ce291a64c1089d9b7b);
        
    
            var icon_8fe7d1fa0101448ad2d02626494e3be9 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_4184247ab6b591aed1141ffdb159bae6.setIcon(icon_8fe7d1fa0101448ad2d02626494e3be9);
        
    
        var popup_0b5633c3821d799e55a392ed1429d319 = L.popup({"maxWidth": "100%"});

        
            
                var html_58e7b32cba17fc7e8cf853c105b94824 = $(`<div id="html_58e7b32cba17fc7e8cf853c105b94824" style="width: 100.0%; height: 100.0%;">Costa Rica</div>`)[0];
                popup_0b5633c3821d799e55a392ed1429d319.setContent(html_58e7b32cba17fc7e8cf853c105b94824);
            
        

        marker_4184247ab6b591aed1141ffdb159bae6.bindPopup(popup_0b5633c3821d799e55a392ed1429d319)
        ;

        
    
    
            var marker_870a43f548be74a79fae31258e5910c2 = L.marker(
                [34.9823018, 33.1451285],
                {}
            ).addTo(feature_group_0d9fb44fd96c26ce291a64c1089d9b7b);
        
    
            var icon_f98eb14149076b6e7677824a6cbdd01f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_870a43f548be74a79fae31258e5910c2.setIcon(icon_f98eb14149076b6e7677824a6cbdd01f);
        
    
        var popup_b124385baf719625cb857805f72d9b7c = L.popup({"maxWidth": "100%"});

        
            
                var html_698c5d7424d809b06557a67b83832163 = $(`<div id="html_698c5d7424d809b06557a67b83832163" style="width: 100.0%; height: 100.0%;">Cyprus</div>`)[0];
                popup_b124385baf719625cb857805f72d9b7c.setContent(html_698c5d7424d809b06557a67b83832163);
            
        

        marker_870a43f548be74a79fae31258e5910c2.bindPopup(popup_b124385baf719625cb857805f72d9b7c)
        ;

        
    
    
            var marker_f92bea4525b2afbb73fa518010d100a5 = L.marker(
                [49.7439047, 15.3381061],
                {}
            ).addTo(feature_group_0d9fb44fd96c26ce291a64c1089d9b7b);
        
    
            var icon_e3c073838b338bba6024f7b054a8df4c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_f92bea4525b2afbb73fa518010d100a5.setIcon(icon_e3c073838b338bba6024f7b054a8df4c);
        
    
        var popup_558f4c97087c2152e2c9784cadf5c5a2 = L.popup({"maxWidth": "100%"});

        
            
                var html_c40838e471088707e4fd66b828bdd876 = $(`<div id="html_c40838e471088707e4fd66b828bdd876" style="width: 100.0%; height: 100.0%;">Czechia</div>`)[0];
                popup_558f4c97087c2152e2c9784cadf5c5a2.setContent(html_c40838e471088707e4fd66b828bdd876);
            
        

        marker_f92bea4525b2afbb73fa518010d100a5.bindPopup(popup_558f4c97087c2152e2c9784cadf5c5a2)
        ;

        
    
    
            var marker_96ad4ddadda6c721626e7dbeeaa179a5 = L.marker(
                [55.670249, 10.3333283],
                {}
            ).addTo(feature_group_0d9fb44fd96c26ce291a64c1089d9b7b);
        
    
            var icon_ded86aa6b8fe2f8266460c8fa5134d2c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_96ad4ddadda6c721626e7dbeeaa179a5.setIcon(icon_ded86aa6b8fe2f8266460c8fa5134d2c);
        
    
        var popup_d91063116764089752d74fb8aece617f = L.popup({"maxWidth": "100%"});

        
            
                var html_a3613cba97445279156e8cb9528e375b = $(`<div id="html_a3613cba97445279156e8cb9528e375b" style="width: 100.0%; height: 100.0%;">Denmark</div>`)[0];
                popup_d91063116764089752d74fb8aece617f.setContent(html_a3613cba97445279156e8cb9528e375b);
            
        

        marker_96ad4ddadda6c721626e7dbeeaa179a5.bindPopup(popup_d91063116764089752d74fb8aece617f)
        ;

        
    
    
            var marker_f669204b66ae313919f1c7fe7e71275d = L.marker(
                [19.0974031, -70.3028026],
                {}
            ).addTo(feature_group_0d9fb44fd96c26ce291a64c1089d9b7b);
        
    
            var icon_abcc52c61bdd31a18a18982d31313f1a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_f669204b66ae313919f1c7fe7e71275d.setIcon(icon_abcc52c61bdd31a18a18982d31313f1a);
        
    
        var popup_9866cb55508137ac6ed4848ab7a2f1d5 = L.popup({"maxWidth": "100%"});

        
            
                var html_d887448c68c89412fe83978beccf7a73 = $(`<div id="html_d887448c68c89412fe83978beccf7a73" style="width: 100.0%; height: 100.0%;">Dominican Republic</div>`)[0];
                popup_9866cb55508137ac6ed4848ab7a2f1d5.setContent(html_d887448c68c89412fe83978beccf7a73);
            
        

        marker_f669204b66ae313919f1c7fe7e71275d.bindPopup(popup_9866cb55508137ac6ed4848ab7a2f1d5)
        ;

        
    
    
            var marker_89c70aecdc088993c795f6b752db2d16 = L.marker(
                [51.1638175, 10.4478313],
                {}
            ).addTo(feature_group_0d9fb44fd96c26ce291a64c1089d9b7b);
        
    
            var icon_31b273547122dc8a0a920cc06db58e73 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_89c70aecdc088993c795f6b752db2d16.setIcon(icon_31b273547122dc8a0a920cc06db58e73);
        
    
        var popup_44c185b4b907e4b407651b37cca76539 = L.popup({"maxWidth": "100%"});

        
            
                var html_7a5f13d0fc6b54dd12e70137f5eaf0d0 = $(`<div id="html_7a5f13d0fc6b54dd12e70137f5eaf0d0" style="width: 100.0%; height: 100.0%;">Germany</div>`)[0];
                popup_44c185b4b907e4b407651b37cca76539.setContent(html_7a5f13d0fc6b54dd12e70137f5eaf0d0);
            
        

        marker_89c70aecdc088993c795f6b752db2d16.bindPopup(popup_44c185b4b907e4b407651b37cca76539)
        ;

        
    
    
            var marker_66a8bf9db9b58e2659b8c0cbd023d430 = L.marker(
                [-1.3397668, -79.3666965],
                {}
            ).addTo(feature_group_0d9fb44fd96c26ce291a64c1089d9b7b);
        
    
            var icon_9dc72f113af3be4119384a4c33d8c4b2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_66a8bf9db9b58e2659b8c0cbd023d430.setIcon(icon_9dc72f113af3be4119384a4c33d8c4b2);
        
    
        var popup_8deceecae7c4d18c51fa9272a63c6b42 = L.popup({"maxWidth": "100%"});

        
            
                var html_79c384fbdadd1c35d3d48120ff3f1f9c = $(`<div id="html_79c384fbdadd1c35d3d48120ff3f1f9c" style="width: 100.0%; height: 100.0%;">Ecuador</div>`)[0];
                popup_8deceecae7c4d18c51fa9272a63c6b42.setContent(html_79c384fbdadd1c35d3d48120ff3f1f9c);
            
        

        marker_66a8bf9db9b58e2659b8c0cbd023d430.bindPopup(popup_8deceecae7c4d18c51fa9272a63c6b42)
        ;

        
    
    
            var marker_bc08731d8284de68e6c64ed0776d5b6c = L.marker(
                [58.7523778, 25.3319078],
                {}
            ).addTo(feature_group_0d9fb44fd96c26ce291a64c1089d9b7b);
        
    
            var icon_376e62f65a21124e8d073b36378570f1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_bc08731d8284de68e6c64ed0776d5b6c.setIcon(icon_376e62f65a21124e8d073b36378570f1);
        
    
        var popup_7a5a991d6b67fb87f3d9f402e84e7f8f = L.popup({"maxWidth": "100%"});

        
            
                var html_d1f535451852c2e36077bce56dce78c3 = $(`<div id="html_d1f535451852c2e36077bce56dce78c3" style="width: 100.0%; height: 100.0%;">Estonia</div>`)[0];
                popup_7a5a991d6b67fb87f3d9f402e84e7f8f.setContent(html_d1f535451852c2e36077bce56dce78c3);
            
        

        marker_bc08731d8284de68e6c64ed0776d5b6c.bindPopup(popup_7a5a991d6b67fb87f3d9f402e84e7f8f)
        ;

        
    
    
            var marker_4c952394eb6278c3b2953b4a4f1c76d3 = L.marker(
                [13.8000382, -88.9140683],
                {}
            ).addTo(feature_group_0d9fb44fd96c26ce291a64c1089d9b7b);
        
    
            var icon_a9abc0e355721df126168f055584d053 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_4c952394eb6278c3b2953b4a4f1c76d3.setIcon(icon_a9abc0e355721df126168f055584d053);
        
    
        var popup_9db30db62aae5e13ecc7bebfb44dd2a4 = L.popup({"maxWidth": "100%"});

        
            
                var html_1069605e4b8db003817e08b40261a5ce = $(`<div id="html_1069605e4b8db003817e08b40261a5ce" style="width: 100.0%; height: 100.0%;">El Salvador</div>`)[0];
                popup_9db30db62aae5e13ecc7bebfb44dd2a4.setContent(html_1069605e4b8db003817e08b40261a5ce);
            
        

        marker_4c952394eb6278c3b2953b4a4f1c76d3.bindPopup(popup_9db30db62aae5e13ecc7bebfb44dd2a4)
        ;

        
    
    
            var marker_b7a1285e631c74a4f87ca9959b8f6573 = L.marker(
                [63.2467777, 25.9209164],
                {}
            ).addTo(feature_group_0d9fb44fd96c26ce291a64c1089d9b7b);
        
    
            var icon_5844965ed0d039968a3f68dd9942ff1d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_b7a1285e631c74a4f87ca9959b8f6573.setIcon(icon_5844965ed0d039968a3f68dd9942ff1d);
        
    
        var popup_345082b26776e9a56d39159d9ed2cd31 = L.popup({"maxWidth": "100%"});

        
            
                var html_1fbc01a5f240f3bf47af24fe5319f36d = $(`<div id="html_1fbc01a5f240f3bf47af24fe5319f36d" style="width: 100.0%; height: 100.0%;">Finland</div>`)[0];
                popup_345082b26776e9a56d39159d9ed2cd31.setContent(html_1fbc01a5f240f3bf47af24fe5319f36d);
            
        

        marker_b7a1285e631c74a4f87ca9959b8f6573.bindPopup(popup_345082b26776e9a56d39159d9ed2cd31)
        ;

        
    
</script>
</html>